# База данных
*.db
*.sqlite
*.sqlite3

# Виртуальное окружение
.venv/
venv/

# Python кеш
__pycache__/
*.pyc
*.pyo

# Переменные окружения
.env

# IDE
.vscode/
.idea/

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db